body{
	background-image: url("background.png");
	background-size:400px 200px;
	background-repeat:no-repeat;
	
}

.fonte{
	font-family: Courier New ;
}

.MS{
	font-family: Courier New ;
	font-size: 15px;
}
ul{
	padding:0;
}

li{
	list-style-type: none;
	
}

a{
	text-decoration: none;	
}

a:visited{
	color: black;
}